@page
@model ProductStore.Pages.Admin.Products.DeleteModel
@{
    ViewData["Title"] = "Delete Product";
}

<div class="row">

    <div class="col-md-8 mx-auto rounded border p-3">
        <h4 class="mb-5"> Delete product </h4>
        <hr />

    </div>
</div>